name: TypeScript Check

on:
  pull_request:
  push:

jobs:
  typecheck:
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Check TypeScript
        run: npx tsc --noEmit
